body {
  text-align: center;
  background-color: #70c5ce;
  font-family: Arial, sans-serif;
  margin: 0;
}
h1 {
  color: white;
}
canvas {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #000;
}
